*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    min-height: 100vh;
    background-color: #ddd;
}
.form{
    margin: auto;
    background-color: #fff;
    width: 90%;
    max-width: 45em;
    padding: 3.75em 2.5em;
    border-radius: 0.5em;
    box-shadow: 0 0.3125em 0.625em -0.3125em rgb(0 0 0 / 30%);
    text-align: center;
}

.form__paragraph h1{
    font-size: 2em;
}
.form__paragraph p{
    font-weight: 200;
}
.form__paragraph a{
    font-weight: 400;
}

.form__container{
    display: grid;
    gap: 2.1875em;
    margin-top: 2.1875em;
}

.form__group{
    position: relative;
    --color: #55555555;
}
.form__input{
    width: 100%;
    padding: 0.5em 0.25em;
    border: none;
    outline: none;
    color: #776666;
    background: none;
}

.form__group input{
    border-bottom: 0.0625em solid var(--color);
}
.form__label{
    color: var(--color);
    position: absolute;
    top: 0;
    left: 0;
    cursor: text;
    transform: translateY(0.625em);
    transition: transform .3s, color .2s;
}
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-12px) scale(.7);
    transform-origin: top left;
    color: #0033aa;
}

.form__line{
    height: 0.0625em;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0033aa;
    transform: scale(0);
    transition: transform .3s;
}
.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line{
    transform: scale(1);
}

.form__button{
    background-color: #55555555;
    border-radius: 0.3125em;
    transition: background .3s, color .2s;
}
.form__button:hover{
    background-color: #0033aabb;
    color: #fff;
}

@media (max-width: 380px){
    .form__paragraph h1{
        font-size: 1.5625rem;
    }
    .form__label{
        font-size: 0.8125rem;
    }
}